<app-header></app-header>
<div class="welcome py-1">
    <div class="container py-xl-1 py-lg-1" id="services">
        <div class="row">
            <div class="col-lg-5 welcome-left">
                <h3 class="title-w3ls mt-2 mb-3">My Bank</h3>

                <p class="mt-4 pr-lg-5">My Bank offers a diverse range of financial products and banking services to
                    customers 
                </p>
            </div>
            <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                <div class="row">
                    <div class="col-sm-4 service-1-w3pvt serve-gd3">
                        <div class="serve-grid mt-4">
                            <p class="mt-2">Personal Loan </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <p class="mt-2">Business Loan </p>
                        </div>
                        
                    </div>
                    <div class="col-sm-4 service-1-w3pvt serve-gd3">
                        <div class="serve-grid mt-4">
                            <p class="mt-2">Home Loan </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <p class="mt-2">Auto Loan </p>
                        </div>
                    </div>
                    <div class="col-sm-4 service-1-w3pvt serve-gd3">
                        
                        <div class="serve-grid mt-4">
                            <p class="text-li mt-2">Health Loan </p>
                        </div>
                        <div class="serve-grid mt-4">
                            <p class="mt-2">Education Loan </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>